<p-toast key="bc" position="top-right" [breakpoints]="{ '768px': { width: '100%', right: '0', left: '0' } }"></p-toast>

<div>
    <div class="grid p-fluid">
        <div class="col-3">
            <button pButton routerLink="/professores" icon="pi pi-backward"></button>
        </div>
    </div>

    <div class="grid p-fluid">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="tituloProfessor">Cadastrar novo professor</h2>
            <span class="p-float-label">
                <input name="nome" type="text" #nome="ngModel" pInputText [(ngModel)]="professor.nome">
                <label for="nome">Nome</label>
            </span>

        </div>
    </div>

    <div class="grid p-fluid mt-2">
        <div class="col-3"></div>
        <div class="col-6">
            <span class="p-float-label">
                <input name="formacao" type="text" pInputText [(ngModel)]="professor.formacao">
                <label for="formacao">Formação</label>
            </span>

        </div>
    </div>

    <div class="grid p-fluid mt-2">
        <div class="col-3"></div>
        <div class="col-6">
            <span class="p-float-label">
                <input name="idade" type="idade" pInputText [(ngModel)]="professor.idade">
                <label for="idade">Idade</label>
            </span>
        </div>
    </div>
    <div class="grid p-fluid mt-2">
        <div class="col-3"></div>
        <div class="col-6">
            <span class="p-float-label">
                <input name="nacionalidade" pInputText [(ngModel)]="professor.nacionalidade">
                <label for="nacionalidade">Nacionalidade</label>
            </span>
        </div>
    </div>

    <div class="grid p-fluid">
        <div class="col-7"></div>
        <div class="col-2">
            <button pButton type="button" label="Salvar" style="margin-top: 100px;"
                (click)="salvarEditar(professor.id, professor)"></button>
        </div>
    </div>

</div>