/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}





/* MENU */
.p-menubar {
    margin-bottom: 2rem;
    justify-content: center !important;
}